{% extends "calculator/layout.html" %}

{% block body %}
    <button class="btn btn-warning" onclick=show_block()>TESTING</button>
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <h1>Artifacts</h1>
        </div>
        <div class="container">
            <div class="mx-auto col-10 col-md-8 col-lg-6">
                <h3>Enter Artifacts:</h3>
                {% if message %}
                    <div class="text_warning">{{message}}</div>
                {% endif %}
                <form class="form-example" action="{% url 'index' %}" method="put">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-3 text-center">
                            <div>Artifact Slot:</div>
                        </div>
                        <div class="col-md-9">
                            <select class="form-select">
                                <option selected>Choose</option>
                                <option>Flower</option>
                                <option>Feather</option>
                            </select>
                        </div>
                    </div>
                    <div id="artifact-stat-block" hidden>
                        <div class="row g-3">
                            <div class="col-md-3 text-center">
                                <div>Mainstat:</div>
                            </div>
                            <div class="col-md-6">
                                <select class="form-select">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Value">
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-3 text-center">
                                <div>Substat 1:</div>
                            </div>
                            <div class="col-md-6">
                                <select class="form-select">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Value">
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-3 text-center">
                                <div>Substat 2:</div>
                            </div>
                            <div class="col-md-6">
                                <select class="form-select">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Value">
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-3 text-center">
                                <div>Substat 3:</div>
                            </div>
                            <div class="col-md-6">
                                <select class="form-select">
                                 </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Value">
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-3 text-center">
                                <div>Substat 4:</div>
                            </div>
                            <div class="col-md-6">
                                <select class="form-select">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Value">
                            </div>
                        </div>
                        <hr>
                        <div class="row g-1">
                            <input class="btn btn-primary" type="submit" value="Submit Artifact">
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="container">
            Hello
        </div>
        
    </div>

{% endblock %}