{% extends "heresy/layout.html" %}


{% block body %}

    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg6">
            <h1>List builder</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Units</h2>
            <div>
                <div class="row">
                    <div class="btn" onclick=slot_showhide(troop_box)>Troops</div>
                </div>
                <div id="troop_box">
                    {% for unit in all_units %}
                        <div>
                            <div class="btn" id="{{unit.pk}}" onclick="unit_showhide(this)">{{unit.name}}, {{unit.unit_cost}}pts</div>
                            <!--Add hidden tag in below div!-->
                            <div id="box{{unit.pk}}">
                                <form>                                    
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">M</th>
                                                    <th scope="col">WS</th>
                                                    <th scope="col">BS</th>
                                                    <th scope="col">S</th>
                                                    <th scope="col">T</th>
                                                    <th scope="col">W</th>
                                                    <th scope="col">I</th>
                                                    <th scope="col">A</th>
                                                    <th scope="col">Ld</th>
                                                    <th scope="col">Sv</th>
                                                    <th scope="col">Inv</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{unit.movement}}</td>
                                                    <td>{{unit.weapon_skill}}</td>
                                                    <td>{{unit.ballistic_skill}}</td>
                                                    <td>{{unit.strength}}</td>
                                                    <td>{{unit.toughness}}</td>
                                                    <td>{{unit.wounds}}</td>
                                                    <td>{{unit.initiative}}</td>
                                                    <td>{{unit.attacks}}</td>
                                                    <td>{{unit.leadership}}</td>
                                                    <td>{{unit.armour_save}}</td>
                                                    <td>
                                                        {% if unit.inv_save != 0 %}
                                                            {{unit.inv_save}}+
                                                        {% else %}
                                                            N/a
                                                        {% endif %}
                                                    </td>
                                                </tr>            
                                            </tbody>
                                        </table>
                                    </div> 
                                    <div class="container">
                                        <div>Squad size: {{unit.squad_size}} (max: {{unit.squad_max}})</div>
                                        {% if unit.squad_add > 0 %}
                                            <div>Additional members: ({{unit.member_cost}}pts)</div>
                                            <div class="row">
                                                    <input class="col form-control mb-2" type="number" placeholder="0" max="{{unit.squad_add}}" id="memberadded_{{unit.pk}}" onchange="total_unitMembers(this)" data-points="{{unit.member_cost}}" autocomplete="off" max="{{unit.squad_add}}" min="0">
                                                <div class="col" id="member_total_{{unit.pk}}">0pts</div>
                                            </div>                                            
                                        {% endif %}
                                    </div>
                                    <div class="container"> 
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <td scope="col"><h5>Weapons</h5></td>
                                                    <td scope="col">Points</td>
                                                    <td scope="col">Equipped</td>
                                                    <td scope="col">Total</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for key, values in unit.split_weapons.items %}
                                                    <tr>
                                                        <td>{{key}}</td>
                                                        <td id="{{key}}_cost_{{unit.pk}}">{{values}}</td>
                                                        <td>
                                                            <input class="form-control" type="number" id="{{key}}_{{unit.pk}}" placeholder="0" autocomplete="off" max="{{unit.squad_max}}" min="0" onchange=total_weaponPoints(this)>
                                                        </td>
                                                        <td id="{{key}}_total_{{unit.pk}}">0</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>                                            
                                        </table>                                        
                                    </div>                                    
                                </form>
                                <h5 id="fulltotal_{{unit.pk}}">UNIT TOTAL: {{unit.unit_cost}}pts</h5>
                                <div class="btn" id="addbutton_{{unit.pk}}" onclick="addUnitToList(this)">ADD TO LIST</div>
                            </div>                            
                        </div>
                        <hr>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h2>Your list</h2>
        </div>
    <div class="row">
        the end
    </div>






{% endblock %}