{% extends "heresy/layout.html" %}

{% block body %}
    <div class="btn btn-primary" onclick="testing()">Test</div>

    <select class="form-select">
        <option selected disabled>Choose a list</option>
        {% for list in user_lists%}
            <option onclick="test2()" value="{{list.name}}">{{list.name}}</option>
        {% endfor %}
    </select>

    <div class="row">
        <!--Select options-->
        <div class="col-4">
            <!--list select-->
            <div>
                <h5>Choose List</h5>
                <select class="form-select" id="damage-list-select" onchange="damage_list_select(this.value)" autocomplete="off">
                    <option selected disabled>Choose a list</option>
                    {% for list in user_lists%}
                        <option  value="{{list.name}}">{{list.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <!--List unit select-->
            <div>
                <h5>Choose Unit</h5>
                <select class="form-select" id="damage-unit-select" autocomplete="off">
                    <option selected disabled>Choose unit</option>
                </select>
            </div>
            
        </div>
        <!--damage tables-->
        <div class="col-8">
            <h5>Your Unit</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">M</th>
                        <th scope="col">WS</th>
                        <th scope="col">BS</th>
                        <th scope="col">S</th>
                        <th scope="col">T</th>
                        <th scope="col">W</th>
                        <th scope="col">I</th>
                        <th scope="col">A</th>
                        <th scope="col">Ld</th>
                        <th scope="col">Sv</th>
                        <th scope="col">Inv</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="unit_movement"></td>
                        <td id="unit_weapon_skill"></td>
                        <td id="unit_ballistic_skill"></td>
                        <td id="unit_strength"></td>
                        <td id="unit_toughness"></td>
                        <td id="unit_wounds"></td>
                        <td id="unit_initiative"></td>
                        <td id="unit_attacks"></td>
                        <td id="unit_leadership"></td>
                        <td id="unit_armour_save"></td>
                        <td id="unit_invulnerable"></td>
                    </tr>            
                </tbody>
            </table>
            <h5>Target:</h5>
            <select class="form-select" id="target-select" autocomplete="off" onchange="damage_calculations_tg()">
                <option disabled selected>Choose a target</option>
                {% for target in targets %}
                    <option>{{target.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock%}