{% extends "heresy/layout.html" %}

{% block body %}

    <h3 class="text-center">Lists</h3>
    <hr>

    <div class="row flex-grow-1">
        <div class="col-4">
            <div id="list-example" class="list-group">
                {% for list in lists %}
                <a class="list-group-item list-view-click-button" id="{{list.name}}">{{list.name}}, {{list.points}}pts</a>
                {% endfor %}
                </div>
        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0" id="listview">
                
                <div class="list-group" id="HQview">
                    <h5>HQ:</h5>
                </div>
                <div id="Elitesview">
                    <h5>Elites:</h5>
                </div>
                <div id="Troopsview">
                    <h5>Troops:</h5>
                </div>
                <div id="Fast Attackview">
                    <h5>Fast Attack:</h5>
                </div>
                <div id="Heavy Supportview">
                    <h5>Heavy Support:</h5>
                </div>
                <hr>
                <div>
                    <form action="{% url 'delete_list' %}" method="post" >
                        {% csrf_token %}
                        <div id="Deleteview">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        

{% endblock%}