{% extends "network/layout.html" %}


{% block body %}
<div class="container">
    <div class="row align-items-center">
<div>
    <h2>New post</h2>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea id="post-content" name="post-content" maxlength="280" rows="6" cols="50"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" class="form-control" value="Create Post">
        </form>
    </div>
</div>
</div>
</div>

{% endblock %}
