{% extends "network/layout.html" %}

{% block body %}
    <button class="btn btn-primary" onclick=myFunction()>TEST</button>
    <div>
        <h1 id="user_name">{{ profile_name }}</h1>
        {% if not profile_name == request.user.username %}
        <button class="btn btn-primary" id="follow-button">FOLLOW</button>
        {% endif %}
    </div>

    {% for post in user_posts %}
        <div>
            <h3><a href="{% url 'user' post.user.username %}">{{post.user}}</a></h3>
            <div>{{post.content}}</div>
            <div>{{post.datetime}}</div>
            {% if request.user == post.user %}
                <div>EDIT</div>
            {% endif %}
            {% if not post.user == user %}
                <div onclick=likePost(this.id) id=like{{post.pk}}>
                    ❤ 
                    {% if post.LikeCount > 0 %}
                    {{post.LikeCount}}
                    {% else %}
                        0
                    {% endif %}
                </div>
            {% else %}
                <div>
                    ❤ 
                    {% if post.likecount %}
                    {{post.likecount}}
                    {% else %}
                        0
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}