{% extends "network/layout.html" %}

{% block body %}
    <h1>New post</h1>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea id="post-content" name="post-content" maxlength="280" rows="6" cols="50"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" class="form-control" value="Create Post">
        </form>
    </div>
    {% for post in user_posts %}
        <div>
            <h3>{{post.user}}</h3>
            <p>{{post.content}}</p>
            <p>{{post.datetime}}</p>
            {% if request.user == post.user %}
                <p>EDIT</p>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}