{% extends "network/layout.html" %}

{% block body %}
    <div>
        <h1>{{ profile_name}}</h1>
        {% if not profile_name == request.user.username %}
        <button class="btn btn-primary">FOLLOW</button>
        {% endif %}
    </div>

    {% for post in user_posts %}
        <div>
            <h3>{{post.user}}</h3>
            <p>{{post.content}}</p>
            <p>{{post.datetime}}</p>
            {% if request.user == post.user %}
                <p>EDIT</p>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}